
<div class="container">

     <!--Botones atras y exportar-->
    <div class = "relative" style = "height: 50px; margin-top: 40px;" >

      <div class = "float-start">
            {{> buttons
            message="Atrás"
            type = "success"
            tag = "a"
            href = "/respuestas"
            }}
        </div>
    <div  class  = "float-end">
        <button class="btn btn-success" onclick="generatePDF()">Exportar</button>
    </div>

        <div class="col text-end">

        </div>

    </div>

    <div class="text-center my-5">
        <h1 class="text-center">{{datos.nomEncuesta}}</h1>
    </div>
    <br><br>
    <div id="chartjs" class="" style="">
        <div class="card-body">
            <h2>Descripcion de la encuesta: </h2>
            <p>{{ datos.descripcion }}</p>
                {{#each datos.secciones as |seccion|}}
                <hr>
                <h2>{{ seccion.nombre }}</h2>
                <p>{{ seccion.descripcion }}</p>
                {{#each seccion.preguntas as |pregunta|}}
                <div class="my-3 rounded p-3">
                    <h4>{{ pregunta.title }}</h4>

                    {{#if (equalString pregunta.tipoR "opcion-unica") }}
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div>

                        <input type="radio" name="respuesta-{{pregunta._id}}" value="{{ respuesta }}" disabled>
                        <label for="req">{{ respuesta }}</label>
                        
                    </div>
                    {{/each}}
                    <div style="max-width: 500px; margin: 0 auto;">
                        {{> chart options=(chart (respuestas (compareRespuesta ../../respu pregunta._id)) (typeChart)) id=(random 10) w="400" h="400"}}
                    </div>
                    <div class="html2pdf__page-break"></div>

                    {{/if}}

                    {{#if (equalString pregunta.tipoR "opcion-multiple") }}
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div>

                        <input type="checkbox" name="respuesta-{{pregunta._id}}" value="{{ respuesta }}" disabled>
                        <span>{{ respuesta }}</span>
                        
                    </div>
                    {{/each}}
                    <div style="max-width: 500px; margin:0 auto ;">
                        {{> chart options=(chart (respuestas (compareRespuesta ../../respu pregunta._id)) (typeChart)) id=(random 10) w="400" h="400"}}
                    </div>
                    <div class="html2pdf__page-break"></div>

                    {{/if}}

                    {{#if (equalString pregunta.tipoR "respuesta-corta") }}
                    <h5>Respuestas</h5>
                    <ol>
                        {{#each (compareRespuesta ../../respu pregunta._id) as |r|}}
                            <li class="my-1">
                                <div>
                                    <input class="form-control" type="text" name="respuesta-{{pregunta._id}}"
                                        value="{{ r }}" disabled>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                    {{/if}}

                    {{#if (equalString pregunta.tipoR "respuesta-larga") }}
                    <h5>Respuestas</h5>
                    <ol>
                        {{#each (compareRespuesta ../../respu pregunta._id) as |r|}}
                            <li class="my-1">
                                <div>
                                    <textarea class="form-control" type="text" name="respuesta-{{pregunta._id}}"disabled>{{r}}</textarea>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                    {{/if}}

                </div>
                {{/each}}
                {{/each}}
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    function generatePDF() {
        const element = document.getElementById('chartjs');
		html2pdf().from(element).set({
            margin: .6,
            html2canvas: {
                scale: 3,
                letterRendering: true
            },
            jsPDF: {
                unit: 'in',
                format: 'letter',
                orientation: 'portrait'
            },
            image: {
                type: "jpeg",
                quality: .95
            }
           
        }).toPdf().output('blob').then(data => {
            let url = URL.createObjectURL(data);
            window.open(url);
        });
    }
</script>