<div class="container">

   
    <!--
    <form action="" method="POST">
        <button class="btn btn-primary" type="submnit" name="identificador" value={{dato._id}}> Compartir </button>
    </form>
    -->
    <div class="card my-5" style="max-width: 2000px; margin-left: auto; margin-right: auto;" >
        
<!--Botones atras y exportar-->
    <div class = "relative" style = "height: 10px; margin: 40px;" >

      <div class = "float-start">
            {{> buttons
            message="Atrás"
            type = "success"
            tag = "a"
            href = "/respuestas"
            }}
        </div>
            <!--
         <div class = "text-center">
            |<h3>Resumen</h3>
          </div>
             -->
    <div  class  = "float-end">
        {{> buttons 
            type="success"
            message="Exportar"
            nativeType="subtmi"}}
    </div>

    <!--
        <div class="col text-end">
            
        </div>
    -->
    </div>
<hr>
         <div class="text-center my-5">
        <h1 class="text-center" style="font-weight:bold;">{{datos.nomEncuesta}}</h1>
    </div>


        <div class="card-body" style="margin: 50px;">

            <div style="height: 160px ;">

            <h3 style="font-weight:bold; font-size: 35px;">Descripción de la encuesta: </h3>

            <p class="p-3 bg-light rounded" style="font-size: 18px;">{{ datos.descripcion }}</p>


            </div>
            
            <form action="/encuestas/guardar" method="post">

                <input type="text" name="encuesta" value="{{ datos._id }}" hidden>
                {{#each datos.secciones as |seccion|}}
                <hr>
                <h3 style="font-weight:bold; font-size: 35px;">{{ seccion.nombre }}</h3>
                <p style="font-size: 18px;" class="p-3 bg-light rounded">{{ seccion.descripcion }}</p>

                {{#each seccion.preguntas as |pregunta|}}
                <div class="my-3 rounded border p-3">
                    <h4 style="font-weight:bold; font-size: 26px;">{{ pregunta.title }}</h4>
                    {{#if (equalString pregunta.tipoR "opcion-unica") }}
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div>

                        <input type="radio" name="respuesta-{{pregunta._id}}" value="{{ respuesta }}" disabled>
                        <label for="req" >{{ respuesta }}</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if (equalString pregunta.tipoR "opcion-multiple") }}
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div>

                        <input type="checkbox" name="respuesta-{{pregunta._id}}" value="{{ respuesta }}" disabled>
                        <span >{{ respuesta }}</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if (equalString pregunta.tipoR "respuesta-corta") }}
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div>
                        <input class="form-control" type="text" name="respuesta-{{pregunta._id}}"
                            value="{{ respuesta }}" disabled>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if (equalString pregunta.tipoR "respuesta-larga") }}
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div>
                        <textarea class="form-control" name="respuesta-{{pregunta._id}}" disabled>{{ respuesta }}</textarea>
                    </div>
                    {{/each}}
                    {{/if}}

                </div>
                {{/each}}
                {{/each}}
                <br>
                {{> buttons
                nativeType="submit"
                message="Enviar"
                type="success"}}
            </form>
        </div>
    </div>
</div>