<p>
  {{nombre}}
  {{apellido}}
</p>

<p>
  {{persona.nombre}}
  {{persona.apellido}}
</p>

{{#with persona}}
  <p>
    {{nombre}}
    {{apellido}}
  </p>
{{/with}}

<ul>
  {{#each items}}
    <li>
      {{this}}
    </li>
  {{/each}}
</ul>

<ol>
    {{#each personas}}
        {{>items persona=.}}
    {{/each}}
</ol>

<ul>
    {{#each personas }}
        {{>items persona=this}}
    {{/each}}
</ul>

{{#if accion.isCorrect }}
    <h4>{{ accion.nombre }}</h4>
{{/if}}


{{#unless accion.isCorrect}}
<h2>
    {{ accion.nombre }}
</h2>
{{/unless}}