<div class="d-flex justify-content-between align-items-center">
    {{> buttons
    message="Atrás"
    type = "success"
    tag = "a"
    href = "/encuestas"
    class = "mx-5"
    }}
    <form action="" method="POST">
        <button class="btn btn-primary mx-5" type="submit" name="identificador" value={{dato._id}} > Compartir </button>
    </form> 
</div>

{{!-- Se muestra la encuesta ya configurada por el usuario --}}
<div class="card my-5" style="max-width: 800px; margin-left: auto; margin-right: auto">
    <div class="card-body">
        <h1>{{ dato.nomEncuesta }}</h1>
        <p>{{ dato.descripcion }}</p>
        <form action="/encuestas/guardar" method="post">
            <input type="text" name="encuesta" value="{{ dato._id }}" hidden>
            {{#each dato.secciones as |seccion|}}
                <hr>
                <h2>{{ seccion.nombre }}</h2>
                <p>{{ seccion.descripcion }}</p>
                {{#each seccion.preguntas as |pregunta|}}
                    <div class="my-3 rounded border p-3">
                        <h4>{{ pregunta.title }}</h4>

                        {{#if (equalString pregunta.tipoR "opcion-unica") }}
                            {{#each pregunta.respuestas as |respuesta|}}
                                <div>
                                    
                                    <input type="radio" name="respuesta-{{pregunta._id}}" value="{{ respuesta }}">
                                    <label for="req">{{ respuesta }}</label>
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#if (equalString pregunta.tipoR "opcion-multiple") }}
                            {{#each pregunta.respuestas as |respuesta|}}
                                <div>
                                    
                                    <input type="checkbox" name="respuesta-{{pregunta._id}}" value="{{ respuesta }}">
                                    <span>{{ respuesta }}</span>
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#if (equalString pregunta.tipoR "respuesta-corta") }}
                            {{#each pregunta.respuestas as |respuesta|}}
                                <div>
                                    <input class="form-control" type="text" name="respuesta-{{pregunta._id}}" value="{{ respuesta }}">
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#if (equalString pregunta.tipoR "respuesta-larga") }}
                            {{#each pregunta.respuestas as |respuesta|}}
                                <div>
                                    <textarea class="form-control" name="respuesta-{{pregunta._id}}">{{ respuesta }}</textarea>
                                </div>
                            {{/each}}
                        {{/if}}

                    </div>
                {{/each}}
            {{/each}}
            <br>
            {{!-- Boton que envia la encuesta a la base de datos --}}
            {{> buttons 
                nativeType="submit"
                message="Enviar"
                type="success"}}
        </form>
    </div>
</div>

