<div
  class="d-flex flex-column flex-shrink-0 p-3 text-black bg-dark max-vh-100 min-vh-100 sticky-top">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <i class="fas fa-quidditch"></i>
    <span class="fs-4">Encuestas UES</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    {{#each (global "menuList")}}
          <li class="nav-item  ">
            <!-- <a href="{{this.url}}" class="nav-link active" aria-current="page"> -->
            <a href="{{this.url}}" class="nav-link text-white" aria-current="page">
              <i class="fas {{ this.icon}}"></i>
              {{this.name}}
            </a>
          </li>
    {{/each}}
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Configuracion
      {{! <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> }}
      {{! <strong>mdo</strong> }}
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      {{#each (global "configList") }}
      <li><a class="dropdown-item" href="{{ this.url }}">{{ this.name }}</a></li>
      {{/each}}
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>