<div class="text-center my-5">
    <h3>
      EDITAR PREGUNTA
    </h3>
</div>
    <!-- Cambio hecho por: Rebeca Barrientos -->
{{#each erorrs}}
    {{> alert type="danger" message=text}}
{{/each}}


<div class="col-md-10 mx-auto">
    <div class = "card">
        <div class = "card-body">
        
        <div class="py-3 mb-3">
            {{> buttons
                message="Atras"
                type="primary"
                    tag="a"
                    href=(link "/preguntas")}}
        </div>

        <form action="/preguntas/editarPreguntas/{{pregunta._id}}?_method=put" method="POST">
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend"> 
                    <span class="input-group-text" id="inputGroup-sizing-sm">Pregunta: </span>
                </div>
             <input type="text" class="form-control" name="title" aria-label="Small" 
             aria-describedby="inputGroup-sizing-sm" autofocus value="{{pregunta.title}}">
         </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="form-control" for="inputGroupSelect01">Tipo respuesta: </label>
                </div>
                    <select class="custom-select form-control" readonly id="inputGroupSelect01" name="tipoR">
                        <option selected>{{pregunta.tipoR}}</option>
                    </select>

            </div>
                <div id="RDOM" class="px-6 py-12">
            {{#if (equalString pregunta.tipoR "opcion-unica")}}
                <div id="radio">
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div class="my-3 d-flex g-1">
                        <input type="radio" value="valor" name="respuesta" disabled />
                        <input class="form-control ms-3" type="text" name="respuestaText" value="{{ respuesta }}" placeholder="Valor del radiobutton" >
                    </div>
                    
                    {{/each}}
                    <!--div class="cursor-pointer inline-block px-3 py-2 bg-blue-500 text-white rounded shadow" onclick="resetRadio()"><button class="btn btn-primary btn-block">Reset</button></div-->
                    <div class="px-3 " onclick="insertRadio()"><button class="btn btn-primary btn-block">Agregar opción</button></div>        
                </div>
            {{/if}}
            {{#if (equalString pregunta.tipoR "opcion-multiple")}}
                <div id="check">
                    {{#each pregunta.respuestas as |respuesta|}}
                    <div class="my-3 d-flex g-1">
                        <input type="checkbox" value="valor" name="respuesta" disabled />
                        <input class="form-control ms-3" type="text" name="respuestaText" value="{{ respuesta }}" placeholder="Valor del checkbox" >
                        <!--div class="cursor-pointer inline-block px-3 py-2 bg-blue-500 text-white rounded shadow" onclick="resetRadio2()">Reset</div-->
                    </div>
                    {{/each}}    
                    <div class="px-3 btn btn-success" onclick="insertRadio2()">Agregar</div>    
                </div>
            {{/if}}


        </div>

            <div class="form-group mt-3">
                <button class="btn btn-success btn-block" type="submit">
                    Guardar cambios
                </button>
            </div>
            <div id="RDOM" class="px-6 py-12">

        </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin de cambio hecho por: Rebeca Barrientos -->

<script src="/static/preguntas.js"></script>