<!DOCTYPE html>
<html>
<head>

 
    <meta charset="uft-8">
    <meta name="viewport" content="width-device-width, initial-scale-1">
    

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

</head>
        <nav class="navbar navbar-light bg-light">


            <div class="container"> 
              <button type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:3000/preguntas';">Atras</button>
            </div >
            <br><br>
               <div class="d-flex align-items-center justify-content-center ">
                <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp
                    EDITAR PREGUNTA</h3></div>
            <br><br><br>
        </nav>
{{!--#each erorrs}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </span>  
    </button>
</div>
{{/each--}}

<br>
<div class="col-md-6 mx-auto">
    <div class = "card">
    <div class = "card-body">
             {{#each pregunta}}
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Pregunta: </span>
                </div>
             <label>&nbsp&nbsp&nbsp&nbsp{{title}}</label> 
         </div>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo respuesta: </label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="tipoR">
                <option selected>{{tipoR}}</option>
                <option value="Respuesta corta">Respuesta corta</option>
                <option value="Respuesta larga">Respuesta larga</option>
                <option value="Opcion">Opcion</option>
                <option value="Opción varias respuestas">Opción varias respuestas</option>
                <option value="Fecha">Fecha</option>
                <option value="Hora">Hora</option>
            </select>
    </div>
    {{/each}}
    </div>
</div></div>

   <!--div class="d-flex align-items-center justify-content-center flex-column">
        {{#each pregunta}}
            <h1>{{title}}</h1>
            <p>{{ _id }}</p> 
            <p>{{ tipoR }}</p> 
        {{/each}}
    </div-->
</html>


