<!DOCTYPE html>
<html>
<head>

 
    <meta charset="uft-8">
    <meta name="viewport" content="width-device-width, initial-scale-1">
    

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

</head>
    
    <div class="d-flex align-items-center justify-content-center flex-column">
        {{#each pregunta}}
            <h1>{{title}}</h1>
            <p>{{ _id }}</p> 
            <p>{{ tipoR }}</p> 
        {{/each}}
    </div>

    {{!-- <body>

        <nav class="navbar navbar-light bg-light">


            <div class="container"> 
    
    
              <button type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:3000/preguntas/listarPreguntas';">Atras</button>

              <span>CREAR PREGUNTA</span>

              
      
            </div >


            <br><br><br><br><br>

    <!-- Cambio hecho por: Rebeca Barrientos -->
{{#each erorrs}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </span>  
    </button>
</div>
{{/each}}


<div class="col-md-10 mx-auto">
    <div class = "card">

    <div class = "card-body">
        <form action="/preguntas/nuevaPregunta" method="POST">
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Pregunta: </span>
                </div>
             <label>dfmdkfm</label> 
         </div>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo respuesta: </label>
            </div>
            <label>dfmdkfm</label> 
    </div>


            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
</div> --}}
<!-- Fin de cambio hecho por: Rebeca Barrientos -->

{{ pregunta }}



</html>


