{{#each erorrs}}
{{> alert 
    type="danger"
    message="text"}}
{{/each}}
<div class="text-center my-5">
    <h3>
        VER PREGUNTA
    </h3>
</div>
<div class="col-md-6 mx-auto">
    <div class = "card">
        <div class = "card-body">
        <div class="py-3 mb-3"> 
            {{> buttons
            message="Atras"
            type="primary"
            tag="a"
            href=(link "/preguntas") }}
        </div >
    
            {{#each pregunta}}
                <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Pregunta: </span>
                        </div>
                    <label>&nbsp&nbsp&nbsp&nbsp{{title}}</label> 
                </div>
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Tipo respuesta: </label>
                        </div>
                        <label>&nbsp&nbsp&nbsp&nbsp{{tipoR}}</label> 
                </div>
            
            <div id="RDOM" class="px-6 py-12">

                    {{#if (equalString pregunta.tipoR "fecha")}}
                        {{#each pregunta.preguntas as |pregunta|}}
                            <div>
                                <input class="form-control" name="respuesta" type="date" value="{{ respuesta }}">
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if (equalString pregunta.tipoR "hora")}}
                        {{#each pregunta.respuestas as |respuesta|}}
                            <div>
                                <input class="form-control" name="respuesta" type="time" value="{{ respuesta }}">
                            </div>
                        {{/each}}
                    {{/if}}

                     {{#if (equalString pregunta.tipoR "respuesta-corta") }}
                        {{#each pregunta.respuestas as |respuesta|}}
                            <div>
                                <input class="form-control" type="text" name="respuesta" value="{{ respuesta }}">
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if (equalString pregunta.tipoR "respuesta-larga") }}
                        {{#each pregunta.respuestas as |respuesta|}}
                            <div>
                                <textarea class="form-control" name="respuesta">{{respuesta}}</textarea>
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if (equalString tipoR "opcion-unica")}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Opciones únicas: </label>
                            </div>
                            </div>
                        <div id="radio">
                            {{#each respuestas}}
                                <div class="my-3 d-flex g-1">
                                    <input type="radio" value="valor" name="respuesta" disabled="disabled"/>
                                    <input class="form-control ms-3" type="text" name="respuestaText" value="{{ this }}" placeholder="Valor del radiobutton" disabled>
                                </div>
                            
                            {{/each}}        
                        </div>
                    {{/if}}
                    {{#if (equalString tipoR "opcion-multiple")}}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Opciones múltiples: </label>
                            </div>
                            </div>
                        <div id="check">
                            {{#each respuestas}}
                                <div class="my-3 flex g-1">
                                <input type="checkbox" value="valor" name="respuesta" disabled="disabled"/>
                                <input class="form-control ms-3" type="text" name="respuestaText" value="{{ this }}" placeholder="Valor del checkbox" aria-readonly="true" disbled>
                            </div>
                            
                            {{/each}}        
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="/static/preguntas.js"></script>

